<div class='tweet message'>
<p>bgtwt provides a simple RESTful API for creating and retrieving bgtwts.</p>

<h4>Retrieval</h4>
<p>GET bgtwt.com/#{tweet id}.text and bgtwt will only return the text (not formatted) of the tweet.</p>

<h4>Creation</h4>
<p>POST to bgtwt.com/tweets/create.text the tweet data (tweet[user] and tweet[body]) and bgtwt will simply return the URL of the newly created tweet.</p>
</div>
